In [1]:
import pandas as pd
import numpy as np
import boto3
import requests
import json
from pathlib import Path
from datetime import datetime
from dateutil import tz
import random
from time import sleep
import configparser
import psycopg2
import pickle

In [2]:
import sql_statements

In [3]:
config = configparser.ConfigParser()
config.read('dwh.cfg')

['dwh.cfg']

### Get Contests Required

from storage.db import db
from storage import schema
db_object = db()
contest_ids = db_object.execute_query(query = 'SELECT distinct contestid FROM lol.contest_entry').fetchall()
with open('contest_ids.txt', 'w') as f:
    for contest_id in contest_ids:
        f.write("%s\n" % contest_id[0])

### Download Contest JSON and Upload to S3

with open('contest_ids.txt', 'r') as f:
     contest_list = [line.strip() for line in f]

In [4]:
s3 = boto3.resource('s3', 
                    aws_access_key_id = config['S3']['AWS_ACCESS_KEY_ID'], 
                    aws_secret_access_key = config['S3']['AWS_SECRET_ACCESS_KEY'])
s3_client = boto3.client('s3', 
                    aws_access_key_id = config['S3']['AWS_ACCESS_KEY_ID'], 
                    aws_secret_access_key = config['S3']['AWS_SECRET_ACCESS_KEY'])

#Contest Level Data

for contest_id in contest_list:
    response = requests.get('https://api.draftkings.com/contests/v1/contests/{}'.format(contest_id), params={'format': 'json'})
    response_type = response.headers['Content-Type']
    json_data = json.loads(response.text)
    
    s3object = s3.Object('luz24', 'dailyfantasy_lol/contests/contest_{}.json'.format(contest_id))
    s3object.put(Body=(bytes(json.dumps(json_data).encode('UTF-8'))))

### Get Payout Data and Upload to S3

#for contest_id in contest_list:
for contest_id in contest_list:
    response = requests.get('https://api.draftkings.com/contests/v1/contests/{}'.format(contest_id), params={'format': 'json'})
    response_type = response.headers['Content-Type']
    json_data = json.loads(response.text)
    
    try:
        
        for payout in json_data['contestDetail']['payoutSummary']:
            for rank in range(payout['minPosition'], payout['maxPosition']+1):
                prize_dict = {
                    'contestid': json_data['contestDetail']['contestKey'],
                    'rank': rank,
                    'prize': float(payout['tierPayoutDescriptions']['Cash'].strip('$').replace(',', ''))
                }
                with open('payout_temp.json', 'a') as outfile:
                    json.dump(prize_dict, outfile)
    except:
        #print(contest_id)
        pass

filename = 'payout_temp.json'
bucket = 'luz24'
key = 'dailyfantasy_lol/payout/payout.json'#.format(json_data['contestDetail']['contestKey'])
s3_client.upload_file(filename, bucket, key)

### Connection to Redshift

In [5]:
conn = psycopg2.connect("host={} dbname={} user={} password={} port={}".format(*config['CLUSTER'].values()))

In [6]:
cur = conn.cursor()

### Contest

In [ ]:
#CREATE Table
cur.execute(sql_statements.contest_table_create)
conn.commit()

#Upload to Table
cur.execute(sql_statements.contest_table_copy)
conn.commit()

### Payout Table

In [7]:
cur.execute(sql_statements.payout_table_create)
conn.commit()

In [8]:
cur.execute(sql_statements.payout_table_copy)
conn.commit()

###  Contest Entry

In [9]:
import awswrangler as wr

In [ ]:
entry_cols = ['contestid', 'ï»¿Rank', 'EntryId', 'EntryName', 'TimeRemaining', 'Points','Lineup']
ownership_cols = ['Player	Roster Position	%Drafted	FPTS']

In [27]:
contest_entries = wr.s3.list_objects("s3://luz24/dailyfantasy_lol/contest_results/")

In [38]:
df = wr.s3.read_csv(
    path = contest_entries[1]
)

In [63]:
df.iloc[:, :6]

,ï»¿Rank,EntryId,EntryName,TimeRemaining,Points,Lineup
0,1,2474488097,mon3ymoss (33/35),0,625.010000,TOP TheShy MID Shanks SUP Missing JNG XUN ...
1,1,2474778376,PaulusCarolus (14/25),0,625.010000,TOP TheShy MID Shanks SUP Missing JNG XUN ...
2,3,2473293432,Durrrrfan24 (1/2),0,623.730000,TOP TheShy MID Shanks SUP Baolan JNG XUN A...
3,3,2474198150,giantsquid (8/25),0,623.730000,TOP TheShy MID Shanks SUP Baolan JNG XUN A...
4,3,2474220617,mrcse13 (47/73),0,623.730000,TOP TheShy MID Shanks SUP Baolan JNG XUN A...
...,...,...,...,...,...,...
2445,2446,2475435468,Nellyvillebombers,0,112.020004,TOP Zoom MID xiye SUP QiuQiu JNG Kanavi AD...
2446,2447,2475345028,racerx0926,0,111.260000,TOP Zoom MID Forge SUP LvMao JNG Haro ADC ...
2447,2448,2474201055,sonic999,0,110.440000,TOP Zoom MID xiye SUP LvMao JNG Haro ADC ...
2448,2449,2474971752,luisp7,0,101.660000,TOP Zoom MID Forge SUP LvMao JNG Kanavi AD...
2449,2450,2474819952,benweeeaver,0,0.000000,NaN

In [55]:
contest_entries[1]

's3://luz24/dailyfantasy_lol/contest_results/contest-standings-100796968.csv'

In [40]:
contest_id = int(str(contest_entries[1]).split('.')[0].split('-')[2])
contest_id

100796968

In [64]:
contest_entry_df = df.iloc[:, :6]

In [65]:
contest_entry_df.insert(0, 'contestid', contest_id)

In [ ]:
aws.